.btn-main {
    border: none;
    background: #fd7709;
    color: white;
    border-radius: 8px;
    height: 38px;
}
.btn-main:hover {
    background: #e9710e;
}
.btn-main:active {
    background: #da6a0e;
} 
.header-height {
    height: 480px;
}

