.background-details {
    background-image: url(../../../images/bee1.jpg);
    width: 91%;
    height: 700px;
    margin-left: 48px;
    opacity: .9;
    background-size: cover;
    border-radius: 5px;
}