.login-text {
    margin-left: 450px;
    margin-top: 280px;
}
.text-side{
    margin-left: 120px;
}
.login-bar {
    display: inline-block;
    /* box-shadow: 1px 1px 1px 1px grey; */
    background: #C58F00;
    color:#444;
    width: 350px;
    height: 32px;
    border: thin solid #888;
    border-radius: 5px;
}
.google-icon{
    margin-left: 2px;
}
